.trafficLight {
    padding: 0.5rem;
    width: auto;
    max-width: fit-content;
    margin: 1px;
    display: flex;
    border-radius: 2rem;
    /*border: 8px solid rgb(235, 231, 231);*/
    background-color: rgb(223, 223, 223);
    box-shadow: inset 3px 1px 10px 3px rgba(60, 60, 60, 0.2),
    0.7rem 0.5rem 0.5rem 0.01rem rgba(42, 42, 42, 0.3);
}

.trafficLamp {
    background-color: black;
    margin: 0.5rem;
    border-radius: 30%;
    width: 10rem;
    height: 10rem;
    box-shadow: 
    inset 5px 5px 10px -1px rgba(12, 69, 64, 0.6);
    border: 0.6rem solid rgba(66, 71, 70, 0.4);
    transition: background-color 0.25s; /* плавный переход цвета для красоты */
}
